/* Обнуление стилей и базовые стили */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffcc99;
}

/* Шапка */
header {
    background-color: #ff6600; 
    color: #fff;
    padding: 1rem 0;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav ul {
        list-style: none;
        display: flex;
    }

        nav ul li {
            margin-right: 20px;
        }

    nav a {
        text-decoration: none;
        color: #fff;
    }

/* Главный раздел (hero) */
.hero {
    background-image: url('https://avatars.mds.yandex.net/i?id=1143258111f9575d6b57e01897b2a199a071ef13-9065885-images-thumbs&n=13');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 3rem 0;
}

    .hero h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #ff3300;
    }

/* Карточки книг */
.featured-books {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-card {
    background-color: #ffcc99;
    border: 1px solid #ff9933;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: background 0.6s ease;
}

    .book-card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .book-card .cov{
        width: 260px;
        height: 320px;
        margin-bottom: 0px;
        transition: opacity 0.5s ease;
        float: left;
        position: absolute;
        display: inline;
        opacity: 0;
    }
    .book-card:hover {
        background: #ff7d56;
    }

/* Заголовок "Популярные книги" */
.featured-books h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem; 
}

/* Подвал */
footer {
    background-color: #ff6600; /* Оранжевый цвет */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Медиа-запросы (адаптивный дизайн) */
@media (max-width: 768px) {
    /* Убираем фоновое изображение */
    .hero {
        background-image: none;
    }

    /* Карточки книг занимают 100% ширины на мобильных устройствах */
    .book-card {
        width: 100%;
        margin-right: 0;
    }

}
.search-panel{
    border-radius: 30px;
    background-color: #FFE3C6;
    height: 500px;
    width: 20%;
    float: left;
    margin-top: 20px;
    margin-left: 10%;
}
.search-panel select{
    width: 94%;
    background-color: #FFF4EA;
    border-radius: 30px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10%;
    font-size: 24px;
    text-decoration-color: black;
}
.search-panel textarea{
    width: 90%;
    background-color: #FFF4EA;
    border-radius: 30px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    padding-left: 10px;
    resize: none;
}
.search-panel .buttom-container{
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    width: 90%;
}
.round-button{
    background-color: #FF8D42;
    color: white;
    border: transparent;
    border-radius: 60px;
    font-size: 30px;
    text-align: center;
    min-width: 35px;
    min-height: 35px;
    width: fit-content;
    height: fit-content;
    transition: background-color 0.5s;
}
.round-button:hover{
    background-color: #ff7d56;
}
.books-panel{
    border-radius: 30px;
    background-color: #FFE3C6;
    height: 600px;
    width: 60%;
    float: right;
    margin-top: 20px;
    margin-right: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.books-panel .book-container{
    width: 96%;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.books-panel::-webkit-scrollbar {
    width: 20px;
    border-radius: 30px;
    background: transparent;
}

/* Track */
.books-panel::-webkit-scrollbar-track {
    border-radius: 30px;
}

/* Handle */
.books-panel::-webkit-scrollbar-thumb {
    background: #ff7d56;
    border-radius: 30px;
}

/* Handle on hover */
.books-panel::-webkit-scrollbar-thumb:hover {
    background: #ff7d56;
}
.register_left_panel{
    width: 25%;
    float: left;
}
.register_left_panel img{
    margin: 10%;
    margin-left: 15%;
    height: 300px;
}
.register_right_panel{
    width: 65%;
    float: right;
    padding: 3%;
}
.register_right_panel input{
    width: 60%;
    background-color: #FFF4EA;
    border-radius: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 10px;
}
.register_right_panel .round-button{
    margin-left: 15%;
    margin-top: 5%;
    width: 30%;

}
.login_left_panel{
    width: 45%;
    float: left;
}
.login_left_panel img{
    margin: 10%;
    margin-left: 15%;
    height: 580px;
}
.login_right_panel{
    margin-top: 6%;
    width: 35%;
    float: right;
    padding: 5%;
}
.login_right_panel input{
    width: 90%;
    background-color: #FFF4EA;
    border-radius: 30px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    padding-left: 10px;
}
.login_right_panel .round-button{
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;

}
a, u {
    text-decoration: none;
}
.main-info-panel{
    background-color: #FFE3C6;
    float: left;
    width: 20%;
    height: 500px;
    border-radius: 30px;
    padding: 20px;
    margin: 2%;
    margin-top: 4%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.main-info-panel p{
    margin-top: 10%;
}
.pages-panel{
    float: right;
    width: 65%;
    height: 500px;
    border-radius: 30px;
    margin: 2%;
    margin-top: 4%;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.page-panel{
    border-radius: 30px;
    background-color: #FFE3C6;
    width: 90%;
    height: 50px;
    margin-top: 3%;
    padding-left: 5%;
    padding-top: 2%;
    color: black;
}