<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibroVermo</title>
    <link rel="stylesheet" href="../static/main_page.css" th:href="@{/main_page.css}">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <h1>LibroVermo</h1>
        </div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/LK">Личный кабинет</a></li>
        </ul>
    </nav>
</header>

<div class="search-panel">
    <select id="search-bar-type" name="selected-option">
        <option value="product_Name">Название</option>
        <option value="product_Ven_Code">Артикул</option>
        <option value="genre">Жанр</option>
        <option value="author_alias">Автор</option>
        <option value="product_Keywords">Ключевые слова</option>
    </select>
    <textarea id="search-bar-value" name="value-field"></textarea>
    <div class="buttom-container">
        <button class="round-button" style="float: left"><</button>
        <button class="round-button" style="float: right; width: 70%" onclick="findBook()">Найти</button>
    </div>
</div>
<div  class="books-panel">
    <div id="booksContainer" class="book-container">

    </div>
    <div style="margin-left: 35%; align-content: center">
        <button class="round-button" onclick="LoadMore()">Показать ещё 20</button>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {

        $.ajax({
            type: "GET",
            url: "/GetBooksBase",
            success: function(products) {
                // Очистка контейнера перед добавлением новых элементов
                $("#booksContainer").empty();
                for (var i = 0; i < products.length; i++) {
                    createBookElement(products[i]);
                    console.log("Iteration");
                }
            },
            error: function(error) {
                console.error("Ошибка при получении данных: " + error.responseText);
            }
        });

    });
    var lastFind = "product_Name like ('%%')";
    var curLim = 0;
    function findBook(){
        var findValue = document.getElementById("search-bar-value");
        var findType = document.getElementById("search-bar-type");
        curLim = 0;
        const condition = {
            condition: findType.value+' like("%' + findValue.value+'%")',
            lim: curLim
        }
        lastFind = findType.value+' like("%' + findValue.value+'%")';
        $.ajax({
            type: "GET",
            url: "/GetBooks",
            data: condition,
            success: function(products) {
                // Очистка контейнера перед добавлением новых элементов
                $("#booksContainer").empty();
                for (var i = 0; i < products.length; i++) {
                    createBookElement(products[i]);
                    console.log("Iteration");
                }
            },
            error: function(error) {
                console.error("Ошибка при получении данных: " + error.responseText);
            }
        });

    }
    function LoadMore(){
        curLim+=1;
        var findValue = document.getElementById("search-bar-value");
        var findType = document.getElementById("search-bar-type");
        const condition = {
            condition: findType.value+' like("%' + findValue.value+'%")',
            lim: curLim
        }
        lastFind = findType.value+' like("%' + findValue.value+'%")';
        $.ajax({
            type: "GET",
            url: "/GetBooks",
            data: condition,
            success: function(products) {

                for (var i = 0; i < products.length; i++) {
                    createBookElement(products[i]);
                    console.log("Iteration");
                }
            },
            error: function(error) {
                console.error("Ошибка при получении данных: " + error.responseText);
                curLim-=1;
            }
        });
    }
    function createBookElement(product) {
        var bookCard = $("<div class='book-card'></div>");
        var bookLogo = $("<img src='"+product.product_logo_ref  +"' alt='Не удалось загрузить('>");
        var titleParagraph = $("<h3>" + product.product_name + "</h3>");
        var authorParagraph = $("<p>Автор: " + product.author_alias + "</p>");
        var priceParagraph = $("<p>Цена: " + product.product_price + "</p>");
        var moreButton = $("<a href='#' class='btn'>Подробнее</a>");

        bookCard.append(bookLogo);
        bookCard.append(titleParagraph);
        bookCard.append(authorParagraph);
        bookCard.append(priceParagraph);
        bookCard.append(moreButton);

        $("#booksContainer").append(bookCard);
    }
</script>
</body>
</html>
