<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibroVermo</title>
    <link rel="stylesheet" href="../static/main_page.css" th:href="@{/main_page.css}">
</head>
<body>
    <div class="login_left_panel">
        <img th:src="@{/images/static/logo.jpg}" >
    </div>
<div class="login_right_panel">
    <form method="get" action="/LoginAcc">
        <h2 style="margin-top: 10%">Логин</h2>
        <input name="login">
        <h2 style="margin-top: 10%">Пароль</h2>
        <input name="password">
        <button class="round-button">Войти</button>
    </form>
    <a href="/Register">Нет аккаунта?</a>
</div>
</body>
</html>